<header>
    <span class="logo-mark">BAUKIS</span>
    <%= content_tag(:span, flash.notice, class: 'notice') if flash.notice %>
    <%= content_tag(:span, flash.alert, class: 'alert') if flash.alert %>

    <h2>HEADER</h2>
    <%=
        if current_administrator
          link_to 'ログアウト', :admin_session, method: :delete
        else
          link_to 'ログイン', :admin_login
        end
    %>
</header>
